<html>
  <head>
    <meta charset="utf-8">
    <title>Citizen Science</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  	<body>
      <div id="lugardetrabajo">
          {{megustoroma}}
          <p>{{alumnos}}</p>
          <p>{{directores}}</p>
          <p>{{persona}}</p>
          <p>{{humanos}}</p>
          <div v-for="persona in humanos"> 
            <p v-on:click="alert">{{persona.nombre}}</p>
            <p v-on:click="persona.edad *= 2">{{persona.edad}}</p>
          </div>
          <table style="width:100%"> 
              <tr> 
                  <th>Nombre</th> 
                  <th>Matricula</th>  
                  <th>Edad</th>  
              </tr> 
              <tr v-for="persona in humanos"> 
                  <th v-if="persona.edad == 23">{{persona.nombre}}</th> 
                  <th v-if="persona.edad == 23">{{persona.matricula}}</th>  
                  <th v-if="persona.edad == 23">{{persona.edad}}</th>  
              </tr>
              <tr v-for="persona in humanos"> 
                  <th v-on:click="showLast(persona.apellido)">{{persona.nombre}}</th> 
                  <th>{{persona.matricula}}</th>  
                  <th>{{persona.edad}}</th>  
              </tr>
      </div>
         
          

    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		  <script type="text/javascript">
       		//JS
                const app= new Vue({
                    el: '#lugardetrabajo',
                    data: {
                        megustoroma:'no',
                        alumnos: '17',
                        directores: [
                          'Del Toro', 'Cuarón'
                        ],
                        persona: {
                          nombre: "Luis",
                          matricula: "A01630086",
                          edad: 22
                        },
                        humanos: [
                        {
                          nombre: "Luis",
                          matricula: "A01630086",
                          edad: 22
                        },
                        {
                          nombre: "Mario",
                          apellido: "Carrillo",
                          matricula: "A01623123",
                          edad: 24
                        },
                        {
                          nombre: "Yorch",
                          apellido: "Padilla",
                          matricula: "A01212331",
                          edad: 23
                        },
                        {
                          nombre: "Carlos",
                          apellido: "Pedraza",
                          matricula: "A01213451",
                          edad: 21
                        },
                        ]
                    },
                    methods: {
                      alert: function(event){
                        alert("Hello")
                      },
                      showLast: function(string){
                        alert(string)
                      }
                    }
                })
                // Storing data:
                myObj = { "data":{ "megustoroma": "no"} };
                myJSON = JSON.stringify(myObj);
                localStorage.setItem("testJSON", myJSON);

                // Retrieving data:
                text = localStorage.getItem("testJSON");
                obj = JSON.parse(text);
                document.getElementById("lugardetrabajo").innerHTML = obj.data.megustoroma; 
		  </script>
	</body>
</html>